<h3>Developing Custom Attribute Directives in Angular</h3>
<hr/>
 
<p  [applyShadow]=" 'Blue' ">This section provides new offers released on Winter season. This section provides new offers released on Winter season. This section provides new offers released on Winter season.This section provides new offers released on Winter season.This section provides new offers released on Winter season.</p>

<p>This section provides new offers released on Winter season. This section provides new offers released on Winter season. This section provides new offers released on Winter season.This section provides new offers released on Winter season.This section provides new offers released on Winter season.</p>


<p [applyShadow]="'Green'">This section provides new offers released on Winter season. This section provides new offers released on Winter season. This section provides new offers released on Winter season.This section provides new offers released on Winter season.This section provides new offers released on Winter season.</p>

<p>This section provides new offers released on Winter season. This section provides new offers released on Winter season. This section provides new offers released on Winter season.This section provides new offers released on Winter season.This section provides new offers released on Winter season.</p>

<p applyShadow>This section provides new offers released on Winter season. This section provides new offers released on Winter season. This section provides new offers released on Winter season.This section provides new offers released on Winter season.This section provides new offers released on Winter season.</p>

<p>This section provides new offers released on Winter season. This section provides new offers released on Winter season. This section provides new offers released on Winter season.This section provides new offers released on Winter season.This section provides new offers released on Winter season.</p>
 