
<div style="padding: 10px;">
    <button (click)="changeCategory('Home Appliance')" style="border:0px; font-size: 15px;padding: 10px; color: white;" [ngStyle] = "category=='Home Appliance'?{'background-color':'blue'}:{'background-color':'lightblue'}">Home Appliance</button>
    <button (click)="changeCategory('Electronics')" style="border:0px; font-size: 15px;padding: 10px; color: white;" [ngStyle] = "category=='Electronics'?{'background-color':'blue'}:{'background-color':'lightblue'}">Electronics</button>
    <button (click)="changeCategory('Fitness')" style="border:0px; font-size: 15px;padding: 10px; color: white;" [ngStyle] = "category=='Fitness'?{'background-color':'blue'}:{'background-color':'lightblue'}">Fitness</button>
    <button (click)="changeCategory('Healthcare')" style="border:0px; font-size: 15px;padding: 10px; color: white;" [ngStyle] = "category=='Healthcare'?{'background-color':'blue'}:{'background-color':'lightblue'}">Healthcare</button>
</div>